---
import BaseLayout from "../layouts/BaseLayout.astro";
const titlePage = "About";
const title = "About Us.";

const info = {
  info: "Learning Astro",
  des: "Lorem ipsum dolor sit amet consectetur adipisicing elit.",
  text: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, consectetur! Pariatur, ab omnis? Recusandae, impedit. Provident sint dolorem earum, nobis quas molestias suscipit commodi",
};
const topics = ["Astro Installation", "File Creation", "Add Js", "Add CSS"];

const happy = true;
const finished = false;
const goal = 3;
---

<BaseLayout titlePage={titlePage}>
  <div class="banner">
    <h2>{info.info}</h2>
    <h3>{info.des}</h3>
    <p>{info.text}</p>
  </div>

  <div class="topic_goal">
    <div class="topics">
      <p>What I have learned:</p>
      <ul>
        {topics.map((topic) => <li class="topic">{topic}</li>)}
      </ul>
    </div>

    <div class="text">
      {happy && <p>I'm happy to learn Astro</p>}
      {
        finished ? (
          <p>I have finished this tutorial</p>
        ) : (
          <p>I haven't finished this tutorial</p>
        )
      }

      {
        goal === 3 ? (
          <p>My goal is to finish this tutorial in 3 days.</p>
        ) : (
          <p>My goal isn't to finish this tutorial in 3 days.</p>
        )
      }
    </div>
  </div>
</BaseLayout>

<!-- 
 -->
