---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout titlePage={frontmatter.title}>
  <h2>Written By {frontmatter.author}</h2>
  <h4>Published: {frontmatter.pubDate.toString().slice(0, 10)}</h4>
  <img src={frontmatter.img.url} alt={frontmatter.img.alt} />

  <div class="tags">
    {
      frontmatter.tags.map((tag) => (
        <p class="tag">
          <a href={`/tags/${tag}`}>{tag}</a>
        </p>
      ))
    }
  </div>

  <slot />
</BaseLayout>

<style>
  a {
    color: #072a38;
    text-decoration: none;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-size: 1.15em;
    background-color: #f8fcfd;
  }
</style>
